body {
    background: #5178b3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagenes/pelotas.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;       /* Para que ocupe toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed; /* La imagen se queda fija al hacer scroll */
    
}
header {
    background-color:rgb(46, 82, 45); /* Color de fondo del encabezado */; 
    color: white;/* Color del texto */
    padding: 20px 10px;/* Espaciado arriba y abajo */
    text-align: center;
    font-size: 28px;/* Tamaño de fuente */
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);/* Sombra sutil */
    background-image: url(imagenes/portada2.jpg);
    background-size: cover;/* Ajusta la imagen para cubrir todo el encabezado */
    background-position: center;
    height: 100vh;

}
header h1 {/* Estilo del título dentro del encabezado */
    
    font-size: 70px;/* Tamaño de fuente */
    font-weight: bold;/* Negrita */
    color: rgb(46, 194, 54);/* Color del texto */
}
nav {
    background-color: rgb(46, 82, 45); /* Color de fondo de la barra de navegación */
    padding: 5px;/* Espaciado */
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);/* Sombra sutil */
}



.container {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 60px 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input, form select {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

form button {
    margin-top: 10px;
    padding: 12px;
    background: #37883d;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

form button:hover {
    background: #37883d;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jugador {
    background: #fafafa;
    padding: 12px;
    border-left: 5px solid #37883d;
    border-radius: 6px;
    font-size: 15px;
    color: #444;
}
